body {
  margin: 0;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  background: whitesmoke;
  min-width: 30vw;
  height: 8vh;
  margin-bottom: 5px;
}

#clear {
  width: 50%;
  margin-bottom: 5px;
}

#keyPads-block {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  direction: rtl;
}

.keypad {
  height: 8vh;
  background-color: transparent;
}